---
import Timer from "../../components/multipages/timer.jsx";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tiempo para semana santa">
  <main>
    <div>
      <Timer
        evento="2025-04-13T12:00:00"
        client:only="react"
        nombreevent="Semana santa"
      />
    </div>

    <p
      style="color:white; width: 800px; margin-left: auto; margin-right: auto; font-size: 20px;"
    >
      La Semana Santa es una de las celebraciones más importantes y
      significativas dentro del calendario cristiano, especialmente en países de
      tradición católica. Se celebra en la semana que precede al Domingo de
      Pascua y conmemora los eventos fundamentales de la Pasión, Muerte y
      Resurrección de Jesucristo. Es un tiempo de reflexión, penitencia y
      renovación espiritual para los fieles.
    </p>
    <p
      style="color:white; width: 800px; margin-left: auto; margin-right: auto; font-size: 20px;"
    >
      La Semana Santa tiene sus raíces en la tradición cristiana y se remonta a
      los primeros siglos del cristianismo. Su celebración varía entre las
      distintas denominaciones, pero en general, se centra en los mismos
      eventos: la entrada triunfal de Jesús en Jerusalén, la Última Cena, su
      traición, juicio, crucifixión y, finalmente, su resurrección. Estos
      acontecimientos son fundamentales para la fe cristiana, ya que representan
      el sacrificio de Jesús por la salvación de la humanidad.
    </p>
    <p
      style="color:white; width: 800px; margin-left: auto; margin-right: auto; font-size: 20px;"
    >
      Las celebraciones de la Semana Santa pueden diferir significativamente de
      un país a otro, pero hay ciertos elementos comunes que se encuentran en
      muchas culturas. En la mayoría de las comunidades, las festividades
      comienzan con el Domingo de Ramos, que conmemora la entrada triunfal de
      Jesús en Jerusalén, cuando la multitud lo aclamó agitando ramas de palma.
    </p>
    <p
      style="margin-left: auto; margin-right: auto; text-align: center; color:white; "
    >
      Texto generado por GPT-4o
    </p>
  </main>
</Layout>

<style>
  div {
    text-align: center;
    margin-top: 200px;
    font-size: 22px;
  }
</style>
