---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pagina no encontrada | 404" >
    <main>
        <h2>Pagina no encontrada</h2>
        <p>Revise la ortografia o el año de la url.</p>
        <a href="/">Ir al inicio</a>
    </main>
</Layout>

<style>
    main {
        font-size: 25px;
        color: white;
        margin-top: 200px;
        text-align: center;
    }
</style>