---
import Layout from '../layouts/Layout.astro';
import Toppart from '../components/home/toppart.astro';
import Homeevents from '../components/events/homeevents.astro';
---

<Layout title="Descubre eventos | 2024">
	<main>
		<Toppart />
		<Homeevents />
	</main>
</Layout>

<style>
	main {
		color: white;
	}
	
</style>
