---

---

<div>
  <h1>Descubre los eventos más increíbles de 2024 - 2025</h1>
  <div class="description">
    <p>
      Descubre las celebraciones más destacadas del 2024 y 2025. Desde la mágica
      Navidad hasta otras festividades importantes a nivel mundial, estos dos
      años estarán llenos de momentos especiales. No te pierdas las fechas clave
      como Nochevieja, Año Nuevo, Semana Santa y otras fiestas tradicionales que
      marcan el calendario. Prepárate para disfrutar de las mejores
      celebraciones del año.
    </p>
  </div>

  <hr />
</div>

<style>
  .description {
    text-align: center; /* Centra el texto del párrafo */
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 18px;
    width: 60%; /* Ajusta el ancho del párrafo */
    margin: 0 auto; /* Centra el contenedor del párrafo */
  }

  div {
    text-align: center;
  }

  h1 {
    margin-top: 8em;
    font-size: 35px;
  }

  hr {
    margin-top: 14em;
  }
</style>
