---

---

<nav>
  <div class="ml">
    <h3 style="font-size: 30px; margin-top: 16px;">Eventos y más</h3>
    <a
      href="/"
      aria-label="Inicio"
      style="position: absolute; margin-left: 230px; top: 25px; color: white; font-size: 21px; text-decoration: none;"
      >Inicio</a
    >
    <a
      href="/dates/navidad"
      aria-label="Navidad"
      style="position: absolute; margin-left: 320px; top: 25px; color: white; font-size: 21px; text-decoration: none;"
      >Navidad</a
    >
    
  </div>
</nav>

<style>
  .button-responsive {
    position: absolute;
    margin-left: 450px;
    top: 25px;
    color: white;
    font-size: 21px;
    text-decoration: none;
  }
  .ml {
    padding-left: 15px;
  }
  nav {
    height: 80px;
    color: white;
    background-color: rgb(60, 122, 163);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  @media (max-width: 749px;) {
    .button-responsive {
      display: none;
    }
  }
</style>
